# Web framework
dash
dash-bootstrap-components
gunicorn

# Data & math
pandas
numpy

# Database
psycopg2-binary

# Forecasting & ML
scikit-learn
statsmodels
xgboost

# File handling
openpyxl

# Optional but recommended
python-dateutil
